body {
    font-family: sans-serif;
}


h1{
    text-align: center;
    text-shadow:0 10px 15px orange;
    position: relative;
    top: 10px;
}

p{
    text-align: center;
}
main img{
    border-radius: 50%;
}
